<?xml version="1.0" encoding="UTF-8"?>
<test name="id_viya4_internal">
  <platform>viya4</platform>
  <version> 2020.0.6 </version>
  <logfile>log/mm_viya4_perf.log</logfile>
  <perf_center>
    <host>lreorgprod1.saas.microfocus.com</host>
    <credentialBase64>c2NuamlsOkknbTFHb29meQ==</credentialBase64>
    <domain>SAS_PRODUCTION</domain>
    <project>EEC_Benchmarking</project>
    <tenant>fd8028ee-3dd3-4236-9407-12f02e68dc6e</tenant>
    <timezone>Europe/London</timezone>
    <cookies>
      <cookie>
        <name>AWSALB</name>
        <value>HICOZSsH1AATcmiRPxgHrlilDSot6E5cZACdWb+2bZPH183cMZZcc3qL4jSs7klx+z3L7o49R7jFCKCYTcv8UwwhKwOEF3557/+TvGcsj26ux41eZae4afLRNVHB</value>
      </cookie>
      <cookie>
        <name>AWSALBCORS</name>
        <value>HICOZSsH1AATcmiRPxgHrlilDSot6E5cZACdWb+2bZPH183cMZZcc3qL4jSs7klx+z3L7o49R7jFCKCYTcv8UwwhKwOEF3557/+TvGcsj26ux41eZae4afLRNVHB</value>
      </cookie>
      <cookie>
        <name>LWSSO_COOKIE_KEY</name>
        <value>9I5f9llwa3SZeyvm9bDzaHzzzvojthlerEJ1eKDMf_VZgwvAqCc2X9SenVf_Hv7izC1hX4oGPRZN3gZzZlAa6znVFzKUlEvYX7g8CHBvoUtud3ZsnCCAU8-qUdY7deI1ttluAZRnciS5KVFcPyfqoQ..</value>
      </cookie>
      <cookie>
        <name>.ASPXAUTH</name>
        <value>6A9F2B27913630A6D5BCD3EA006B8037117D056082267F47E15D8AF43CF29400BA05E2FF423DA55B70F94A52FF946750CDC1B61D624788A57C3AB5603D234FBE5BF2106D76EAA698D1B50CC64817A113A918D597B581F460C2AAE6F6ECCCBB743F581E0861B2E75D77F446F073B295A985A52DE7FCA7A3613CF7D4BB5E0A84C4</value>
      </cookie>
      <cookie>
        <name>LoginClient</name>
        <value>qc</value>
      </cookie>
    </cookies>
  </perf_center>
  <grafana>
    <host>grafana.epdnet-azure-viya40-mas.unx.sas.com</host>
    <key>Bearer eyJrIjoiSzhLOXhxczlsOVBLdlpkbWlnOXY3QTJQS2VJT3VCbEQiLCJuIjoibm1vbiIsImlkIjoxfQ==</key>
    <endpoint>http://grafana.epdnet-azure-viya40-mas.unx.sas.com/api/datasources/proxy/1/api/v1/query_range</endpoint>
    <timezone>Europe/London</timezone>
  </grafana>
  <metrics>
    <cpu>?query=1-(sum(irate(node_cpu_seconds_total%20%7Bmode%3D%22idle%22%7D%20%5B1m%5D))%20without%20(cpu))%20%2F%20count(node_cpu_seconds_total)%20without%20(cpu)</cpu>
    <ram_used>?query=(node_memory_MemTotal_bytes-node_memory_MemFree_bytes)</ram_used>
    <ram_total>?query=(node_memory_MemTotal_bytes)</ram_total>
    <disk>?query=(node_filesystem_size_bytes%7Bnodename%3D~%22.*cas.*%22%7D-node_filesystem_avail_bytes%7Bnodename%3D~%22.*cas.*%22%7D)</disk>
    <diskw>?query=irate(node_disk_written_bytes_total%7Bnodename%3D~%22.*cas.*%22%2C%20device%3D%22sda%22%7D%20%5B1m%5D)%2F15</diskw>
    <diskr>?query=irate(node_disk_read_bytes_total%7Bnodename%3D~%22.*cas.*%22%2C%20device%3D%22sda%22%7D%20%5B1m%5D)%2F15</diskr>
  </metrics>
  <iterations>
    <iteration>
      <testID>954</testID>
      <instanceID>238</instanceID>
      <duration>300</duration>
      <con>5</con>
      <runID>3781</runID>
      <slotID>1218</slotID>
      <start>2021-01-20 20:58:29</start>
      <status>Before Creating Analysis Data</status>
      <desc>test</desc>
    </iteration>
    <iteration>
      <testID>954</testID>
      <instanceID>238</instanceID>
      <duration>300</duration>
      <con>5</con>
      <runID>3782</runID>
      <slotID>1219</slotID>
      <start>2021-01-20 22:56:00</start>
      <status>Failed Collating Results</status>
      <desc>test</desc>
    </iteration>
    <iteration>
      <testID>954</testID>
      <instanceID>238</instanceID>
      <duration>30</duration>
      <con>10</con>
      <runID>3784</runID>
      <slotID>1232</slotID>
      <start>2021-01-21 02:41:50</start>
      <status>Before Collating Results</status>
      <desc>test</desc>
    </iteration>
  </iterations>
</test>
