<?xml version="1.0" encoding="UTF-8"?>
<test name="id_viya4_internal">
  <platform>viya4</platform>
  <version> 2020.0.6 </version>
  <logfile>log/mm_viya4_perf.log</logfile>
  <perf_center>
    <host>almrwc1848p-pcs.saas.microfocus.com</host>
    <credentialBase64>c2NuamlsOkknbTFHb29meQ==</credentialBase64>
    <domain>SAS_PRODUCTION</domain>
    <project>EEC_Benchmarking</project>
    <timezone>EST5EDT</timezone>
    <cookies>
      <cookie>
        <name>LWSSO_COOKIE_KEY</name>
        <value>xSFdu5RVbVkT-oAYDrMxuB5XiSMcZTTXEPA3qw8DGarWoUKES2SrMQdYc7jZGvXr1KleM_2prbhHBt7fP4K66A..</value>
      </cookie>
      <cookie>
        <name>QCSession</name>
        <value>MTUwNDQzMjQ7aU9PK20zclVkRHlKd1BaVzhwTUc1USoqO1BDIFJFU1QgQVBJIENsaWVudDsgOyA7IA..</value>
      </cookie>
      <cookie>
        <name>secured_cookie</name>
        <value>!GhcuJK8kgGiRfch8XefSSEbsJ+ZE93szz0JEBLRJXEYArJ/tmtTnt5eEPB+56yMHG8oXZRbQxLrxX/Y=</value>
      </cookie>
      <cookie>
        <name>LoginClient</name>
        <value>qc</value>
      </cookie>
      <cookie>
        <name>.ASPXAUTH</name>
        <value>3E8B7243DCF402A025A5E1AE054EC3836D95B1B7AEA40EFBF5EDC3C4859A72B95669519FFC49308AA68B871A350D55F3E70968A5017CBB21E3D4639ABDC8A29CDB12CF7B9708992A1F1E06CB28FDE917E1BC3BB610919420A1D446885E5C4DF9548991391877316B2F5D8BF62E0E7EA2C97A496E153490B8190010A437DFA308</value>
      </cookie>
    </cookies>
  </perf_center>
  <grafana>
    <host>grafana.epdnet-azure-viya40-mas.unx.sas.com</host>
    <key>Bearer eyJrIjoiSzhLOXhxczlsOVBLdlpkbWlnOXY3QTJQS2VJT3VCbEQiLCJuIjoibm1vbiIsImlkIjoxfQ==</key>
    <endpoint>http://grafana.epdnet-azure-viya40-mas.unx.sas.com/api/datasources/proxy/1/api/v1/query_range</endpoint>
    <timezone>Europe/London</timezone>
  </grafana>
  <metrics>
    <cpu>?query=1-(sum(irate(node_cpu_seconds_total%20%7Bmode%3D%22idle%22%7D%20%5B1m%5D))%20without%20(cpu))%20%2F%20count(node_cpu_seconds_total)%20without%20(cpu)</cpu>
    <ram_used>?query=(node_memory_MemTotal_bytes-node_memory_MemFree_bytes)</ram_used>
    <ram_total>?query=(node_memory_MemTotal_bytes)</ram_total>
    <disk>?query=(node_filesystem_size_bytes%7Bnodename%3D~%22.*cas.*%22%7D-node_filesystem_avail_bytes%7Bnodename%3D~%22.*cas.*%22%7D)</disk>
    <diskw>?query=irate(node_disk_written_bytes_total%7Bnodename%3D~%22.*cas.*%22%2C%20device%3D%22sda%22%7D%20%5B1m%5D)%2F15</diskw>
    <diskr>?query=irate(node_disk_read_bytes_total%7Bnodename%3D~%22.*cas.*%22%2C%20device%3D%22sda%22%7D%20%5B1m%5D)%2F15</diskr>
  </metrics>
  <iterations>
    <iteration>
      <testID>920</testID>
      <instanceID>222</instanceID>
      <duration>300</duration>
      <con>200</con>
      <runID>2693</runID>
      <slotID>6714</slotID>
      <start>2021-01-07 21:33:37</start>
      <status>Finished</status>
      <desc>test2_t100_32core</desc>
    </iteration>
    <iteration>
      <testID>919</testID>
      <instanceID>223</instanceID>
      <duration>300</duration>
      <con>300</con>
      <runID>2694</runID>
      <slotID>6715</slotID>
      <start>2021-01-07 22:04:07</start>
      <status>Finished</status>
      <desc>test2_t100_32core</desc>
    </iteration>
    <iteration>
      <testID>820</testID>
      <instanceID>180</instanceID>
      <duration>300</duration>
      <con>10</con>
      <runID>2766</runID>
      <slotID>6889</slotID>
      <start>2021-01-15 00:56:37</start>
      <status>Finished</status>
      <desc>test</desc>
    </iteration>
    <iteration>
      <testID>820</testID>
      <instanceID>180</instanceID>
      <duration>300</duration>
      <con>10</con>
      <runID>2767</runID>
      <slotID>6890</slotID>
      <start>2021-01-15 01:27:07</start>
      <status>Finished</status>
      <desc>test</desc>
    </iteration>
    <iteration>
      <testID>820</testID>
      <instanceID>180</instanceID>
      <duration>300</duration>
      <con>10</con>
      <runID>NA</runID>
      <slotID>6891</slotID>
      <start>2021-01-15 02:22:56</start>
      <status>Not Started</status>
      <desc>test</desc>
    </iteration>
    <iteration>
      <testID>820</testID>
      <instanceID>180</instanceID>
      <duration>300</duration>
      <con>10</con>
      <runID>2768</runID>
      <slotID>6892</slotID>
      <start>2021-01-15 02:29:00</start>
      <status>Run Failure</status>
      <desc>test</desc>
    </iteration>
    <iteration>
      <testID>820</testID>
      <instanceID>180</instanceID>
      <duration>300</duration>
      <con>10</con>
      <runID>2769</runID>
      <slotID>6893</slotID>
      <start>2021-01-15 03:03:29</start>
      <status>Collating Results</status>
      <desc>test</desc>
    </iteration>
    <iteration>
      <testID>820</testID>
      <instanceID>180</instanceID>
      <duration>300</duration>
      <con>10</con>
      <runID>NA</runID>
      <slotID>6894</slotID>
      <start>2021-01-15 03:33:59</start>
      <status>Not Started</status>
      <desc>test</desc>
    </iteration>
    <iteration>
      <testID>820</testID>
      <instanceID>180</instanceID>
      <duration>300</duration>
      <con>10</con>
      <runID>NA</runID>
      <slotID>6895</slotID>
      <start>2021-01-15 04:04:29</start>
      <status>Not Started</status>
      <desc>test</desc>
    </iteration>
  </iterations>
</test>
