<?xml version="1.0" encoding="UTF-8"?>
<test name="id_viya4_internal">
  <platform>viya4</platform>
  <version> 2020.0.6 </version>
  <logfile>log/mm_viya4_perf.log</logfile>
  <perf_center>
    <host>almrwc1848p-pcs.saas.microfocus.com</host>
    <credentialBase64>c2NuamlsOkknbTFHb29meQ==</credentialBase64>
    <domain>SAS_PRODUCTION</domain>
    <project>EEC_Benchmarking</project>
    <timezone>EST5EDT</timezone>
    <cookies>
      <cookie>
        <name>LWSSO_COOKIE_KEY</name>
        <value>mEVxGQXoK3dm3iugHvlg6-eFt-RSZTFlKZK9YapkeYtmykbgCXxMWHtsT6UH12HIHF-8oq0aO9cPYj8CHZqf6Q..</value>
      </cookie>
      <cookie>
        <name>QCSession</name>
        <value>MTUwMzg3NDA7RGtmWWZ6UE5MTXlPU0NHNUxGeVA2USoqO1BDIFJFU1QgQVBJIENsaWVudDsgOyA7IA..</value>
      </cookie>
      <cookie>
        <name>secured_cookie</name>
        <value>!nu5nbGDVbOcIJQ18XefSSEbsJ+ZE9/nDmSF5R466vfAg5eyiXRHktjjfOWZh5M4v9ZQHiZ4+RPkYTjI=</value>
      </cookie>
    </cookies>
  </perf_center>
  <grafana>
    <host>grafana.epdnet-azure-viya40-mas.unx.sas.com</host>
    <key>Bearer eyJrIjoiSzhLOXhxczlsOVBLdlpkbWlnOXY3QTJQS2VJT3VCbEQiLCJuIjoibm1vbiIsImlkIjoxfQ==</key>
    <endpoint>http://grafana.epdnet-azure-viya40-mas.unx.sas.com/api/datasources/proxy/1/api/v1/query_range</endpoint>
    <timezone>Europe/London</timezone>
  </grafana>
  <metrics>
    <cpu>?query=1-(sum(irate(node_cpu_seconds_total%20%7Bmode%3D%22idle%22%7D%20%5B1m%5D))%20without%20(cpu))%20%2F%20count(node_cpu_seconds_total)%20without%20(cpu)</cpu>
    <ram_used>?query=(node_memory_MemTotal_bytes-node_memory_MemFree_bytes)</ram_used>
    <ram_total>?query=(node_memory_MemTotal_bytes)</ram_total>
    <disk>?query=(node_filesystem_size_bytes%7Bnodename%3D~%22.*cas.*%22%7D-node_filesystem_avail_bytes%7Bnodename%3D~%22.*cas.*%22%7D)</disk>
    <diskw>?query=irate(node_disk_written_bytes_total%7Bnodename%3D~%22.*cas.*%22%2C%20device%3D%22sda%22%7D%20%5B1m%5D)%2F15</diskw>
    <diskr>?query=irate(node_disk_read_bytes_total%7Bnodename%3D~%22.*cas.*%22%2C%20device%3D%22sda%22%7D%20%5B1m%5D)%2F15</diskr>
  </metrics>
  <iterations>
    <iteration>
      <testID>920</testID>
      <instanceID>222</instanceID>
      <duration>300</duration>
      <con>200</con>
      <runID>2693</runID>
      <slotID>6714</slotID>
      <start>2021-01-07 21:33:37</start>
      <status>Finished</status>
      <desc>test2_t100_32core</desc>
    </iteration>
    <iteration>
      <testID>919</testID>
      <instanceID>223</instanceID>
      <duration>300</duration>
      <con>300</con>
      <runID>2694</runID>
      <slotID>6715</slotID>
      <start>2021-01-07 22:04:07</start>
      <status>Finished</status>
      <desc>test2_t100_32core</desc>
    </iteration>
    <iteration>
      <testID>918</testID>
      <instanceID>224</instanceID>
      <duration>300</duration>
      <con>400</con>
      <runID>2695</runID>
      <slotID>6716</slotID>
      <start>2021-01-07 22:34:37</start>
      <status>Finished</status>
      <desc>test2_t100_32core</desc>
    </iteration>
    <iteration>
      <testID>920</testID>
      <instanceID>222</instanceID>
      <duration>300</duration>
      <con>200</con>
      <runID>2699</runID>
      <slotID>6720</slotID>
      <start>2021-01-08 01:56:00</start>
      <status>Finished</status>
      <desc>test2_t100_16core</desc>
    </iteration>
    <iteration>
      <testID>919</testID>
      <instanceID>223</instanceID>
      <duration>300</duration>
      <con>300</con>
      <runID>2697</runID>
      <slotID>6718</slotID>
      <start>2021-01-08 01:15:51</start>
      <status>Finished</status>
      <desc>test2_t100_16core</desc>
    </iteration>
    <iteration>
      <testID>918</testID>
      <instanceID>224</instanceID>
      <duration>300</duration>
      <con>400</con>
      <runID>2698</runID>
      <slotID>6719</slotID>
      <start>2021-01-08 01:37:00</start>
      <status>Finished</status>
      <desc>test2_t100_16core</desc>
    </iteration>
  </iterations>
</test>
